<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <base href="/">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <title>Piggy Business</title>
</head>

<body>
  {{!-- Navbar goes here --}}
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/">
        <img id="logo-container" src="/img/piggybusiness_logo_01.png" class="brand-logo" style=max-height:95%>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/jobs/add">Add Job</a></li>
        <li><a href="/child/child">Children</a></li>
        <li><a href="/child/addchild">Add Child</a></li>
      </ul>
    </div>
  </nav>
  {{!-- SideNavbar goes here --}}
  <ul id="slide-out" class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a href="/jobs">Jobs</a></li>
    <li><a href="/jobs/add">Add Job</a></li>
    <li><a href="/child/child">Children</a></li>
    <li><a href="/child/addchild">Add Child</a></li>
  </ul>
  {{{body}}}
  {{!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
  <script type="text/javascript" src="/js/jobs.js">
  </script>
</body>

</html>