<section id="search" class="search-wrap">
    <h1>Find your next job here</h1>
    <form action="/jobs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="laundry, folding, sorting...">
      <input type="submit" value="Search">
    </form><br>

{{!-- <h2>
  <p><a href="/jobs">View All Jobs</a>  |  <a href="/jobs/add">Add a Job</a>  |  <a href="/child/child">View Children</a>  |  <a href="/child/addchild">Add a Child</a> | </p>
</h2> --}}
    
</section>

